{% set active_page = 'change_password_page' %}
{% extends 'base.html' %}

{% block content %}

<div id="profile">
  <h3> {{Username}}</h3>

  <form method="POST" action="{{url_for('change_password')}}" class="new_customer_form" id="form1">
    
    <div>
      <label for="mission_id">Current Password:</label>
      <input type="password" name="current_password" required>
    </div>

    <div>
      <label for="mission_entity">New Password:</label>
      <input type="password" name="new_password" required>
    </div>

    <div class="address">
      <label for="address">Confirm Password:</label>
      <input type="password" name="confirm_new_password" id="" required>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

  {% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}
