<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Inventory and Invoice Management System</title>
    <link rel="stylesheet" type="text/css" href="{{url_for ('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="header">
      <h1>PNGUMIT STORE</h1>
    </div>
      <div class="left-panel">

        <div class="search-bar">
          <input type="text" class="search-input" placeholder="Search...">
          <button class="search-button">Search</button>
        </div>
       <a href="{{ url_for('home') }}"> <button>Home</button></a> 
       <a href="{{ url_for('invoice_page') }}"><button>Invoice</button></a> 
       <a href="{{ url_for('inventory_page') }}"><button>Inventory</button></a>
       <a href="{{ url_for('notification_page') }}"><button>Notification</button></a>  
       <a href="{{ url_for('customer_page') }}"><button>Customers</button></a> 
       <a href="{{ url_for('report_page') }}"><button>Reports</button></a> 
       <a href="{{ url_for('profile_page') }}"><button>Profiles</button></a> 
       <a href="{{ url_for('help_page') }}"><button>Help</button></a> 

      </div>

    <!-- Home -->

    <div class="main-content">
      <h2 id="page-title">HOME</h2>
      <form action="{{ url_for('logout') }}" method="GET">
        <button type="submit">Logout</button>
    </form>
      <p>Welcome to PNGUMIT STORE inventory and invoice management system. Use the navigation panel on the left to access different features of the system.</p>
    

    <h1>Stock left</h1>
      <div class="card_container">
        {% for item in data %}
        <div class="card">
          <h3>{{ item[0]}}</h3>
          <img class="item_image"src="../static/images/items/{{ item[1]}}" alt="{{ item[1]}}">
          <h4>Current in Stock: {{ item[2]}}</h4>
          <h4>Initial Total: {{ item[3]}}</h4>
        </div>
        {% endfor%}
      </div>
    </div>
    <div></div>
    </div >
      

    <div class="footer">
      <p>&copy; 2023 PNGUMIT STORE. All rights reserved.</p>
    </div>
    
 
      
</body>

</html>




