{% set active_page = 'inventory_page' %}
{% extends 'base.html' %}

{% block content %}
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'invoice_records')" id="defaultOpen">Inventory Records</button>
  <button class="tablinks" onclick="openCity(event, 'new_invoice')">New Item</button>
</div>
<div id="invoice_records" class="tabcontent">
  <table id="myTable" class="display">
    <thead>
        <tr>
        <th>Flag</th>
        <th>Service Tag</th>
        <th>Item Name</th>
        <th>Item Brand</th>
        <th>Item Model</th>
        <th>Date Stocked</th>
        <th>Hostname</th>
        <th>User</th>
        <th>Invoice Number</th>
        <th>Accessories</th>
        <th>Delivery Status</th>
      </tr>
    </thead>
    <tbody> 

        {% for item in inventory%}
          <tr>
          <td><p class="hidden-flag" data-state="{{item[9]}}" hidden>{{item[9]}}</p><button class="flag-button" data-state="{{item[9]}}" data-row="{{loop.index0}}"><i class="fa-solid fa-flag"></i></button></td>
          <td>{{item[0]}}</td>
          <td>{{item[9]}}</td>
          <td>{{ item[10]}}</td>
          <td>{{item[7]}}</td>
          <td>{{item[8]}}</td>
          <td>{{item[2]}}</td>
          <td>{{item[3]}}</td>
          <td>{{item[0]}}</td>
          <td>{{item[4]}}</td>
          <td>{{item[5]}}</td>
        </tr>
        {% endfor %}
    
    </tbody>
  </table>
</div>
<div id="new_invoice" class="tabcontent">
  <h3>Bulk Upload</h3>
  <form action="{{url_for('upload_csv')}}">
    <input type="file" name="upload_csv" id="">
    <button>Submit</button>
  </form>
</div>
{% endblock %}

