<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Inventory and Invoice Management System</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='DataTables/datatables.min.css')}}">    
    
    <script src="{{url_for('static', filename='script/jquery3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='DataTables/datatables.min.js')}}"></script>
    
    <script>
      
      $(document).ready(function() {
          $('#dropdown').change(function() {
              var selectedId = $(this).val();
              
              $.ajax({
                  type: 'POST',
                  url: '/mission-entity-details',
                  contentType: 'application/json',
                  data: JSON.stringify({ id: selectedId }),
                  success: function(response) {
                      document.getElementById('address').value=response.address;
                  },
                  error: function(error) {
                      console.log(error);
                  }
              });
          });
      });
  </script>
  </head>
  <body>
    <div class="header">
      <h1>PNGUMIT STORE</h1>
      <div class="search-bar">
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-button">Search</button>
      </div>
    </div>
    <div class="left-panel">


       <a href="{{ url_for('home') }}"> <button>Home</button></a> 
       <a href="{{ url_for('invoice_page') }}"><button>Invoice</button></a>  
       <a href="{{ url_for('inventory_page') }}"><button>Inventory</button></a>
       <a href="{{ url_for('notification_page') }}"><button>Notification</button></a>  
       <a href="{{ url_for('customer_page') }}"><button>Customers</button></a> 
       <a href="{{ url_for('report_page') }}"><button>Reports</button></a> 
       <a href="{{ url_for('profile_page') }}"><button>Profiles</button></a> 
       <a href="{{ url_for('help_page') }}"><button>Help</button></a> 

      </div>

    <!-- Home -->

    <div class="main-content">
      <h2 id="page-title">INVOICE</h2>
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'invoice_records')" id="defaultOpen">Invoice Records</button>
        <button class="tablinks" onclick="openCity(event, 'new_invoice')">New Invoice</button>
      </div>
      <div id="invoice_records" class="tabcontent">
        <table id="myTable" class="display">
          <thead>
              <tr>
              <th>Invoice Number</th>
              <th>Date and Time</th>
              <th>Mission Entity</th>
              <th>Mission Department</th>
              <th>IT Contact</th>
              <th>Mission Contact</th>
              <th>Total Invoice Amount</th>
              <th>PDF for Invoice</th>
              </tr>
          </thead>
          <tbody>
              {% for item in allInvoices%}
                <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}} <a href="{{ url_for('download_pdf', inv=item[0])}}">Download</a></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="new_invoice" class="tabcontent">
      <form method="POST" action="{{url_for('preview_invoice')}}" class="invoice_form" id="form1">
          <div>
            <label for="inv_no">Invoice Number:</label>
            <input type="text" name="inv_no" value="{{inv}}" readonly> 
          </div>
          <div>
            <input type="text" name="it_contact" value="{{Uname.id}}" hidden>
            <label for="contact_person">Contact Person:</label>
            <input type="text" name="contact_person" required>
          </div>
          <label for="mission_entity">Mission Entity:</label>
          
          
          <select name="mission_entity" required id="dropdown">
            <option value="" disabled selected>Choose</option>
            {% for item in data1 %}
            <option value="{{ item.id }}">{{item.name}}</option>
            {% endfor%}
          </select>
          <input id="address" name="address" value="" hidden>
          <div>
            <label for="mission_dept">Mission Department:</label>
            <input type="text" name="mission_dept">
          </div>
  
      {% for item in data %}
        <div id="{{ item[1] }}{{ item[4] }}_div" class="form-row">
          <div class="checkbox-label">
            <input type="checkbox" name="{{ item[1] }}{{ item[4] }}" id="{{ item[1] }}{{ item[4] }}_checkbox" value="{{ item[1] }}{{ item[2] }}" class="item-checkbox">
            <label for="{{ item[1] }}_checkbox">{{ item[0] }} {{ item[1] }} {{ item[2] }}</label>
          </div>

          <input type="text" name="{{ item[1] }}{{ item[4] }}_input" value="{{ item[0] }} {{ item[1] }} {{ item[2] }}" hidden>

          <div class="input-label">
            <b><label for="price">Price Per Unit (K):</label></b>
            <input type="number" value="{{ item[3] }}" id="{{ item[1] }}{{ item[4] }}_price" name="{{ item[1] }}{{ item[4] }}_price" class="item-input" readonly disabled>
          </div>

          <div class="input-label">
            <b><label for="quantity">Quantity:</label></b>
            <input type="number" id="{{ item[1] }}{{ item[4] }}_quantity" name="{{ item[1] }}{{ item[4] }}_quantity" class="item-input" required disabled>
          </div>

        </div>

    {% endfor %}
          <button type="submit">Invoice</button>
      </form>
    </div>
    </div>
    
    <div class="footer">
      <p>&copy; 2023 PNGUMIT STORE. All rights reserved.</p>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var checkboxes = document.getElementsByClassName('item-checkbox');
    
        for (var i = 0; i < checkboxes.length; i++) {
          checkboxes[i].addEventListener('change', function() {
            var relatedDivId = this.getAttribute('id').replace('_checkbox', '_div');
            var relatedDiv = document.getElementById(relatedDivId);
            var relatedInputs = relatedDiv.getElementsByClassName('item-input');
    
            for (var j = 0; j < relatedInputs.length; j++) {
              relatedInputs[j].disabled = !this.checked;
            }
          });
        }
      });

      $(document).ready( function () {
      $('#myTable').DataTable();
} );
    </script>
    <script>
      function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
    </script>
    <script>
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
      </script>

</body>

</html>

