{% set active_page = 'invoice_page' %}
{% extends 'base.html' %}

{% block content %}
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'invoice_records')" id="defaultOpen">Invoice Records</button>
  <button class="tablinks" onclick="openCity(event, 'new_invoice')">New Invoice</button>
</div>
<div id="invoice_records" class="tabcontent">
  <table id="myTable" class="display">
    <thead>
        <tr>
        <th>Invoice Number</th>
        <th>Date and Time</th>
        <th>Mission Entity</th>
        <th>Mission Department</th>
        <th>IT Contact</th>
        <th>Mission Contact</th>
        <th>Total Invoice Amount</th>
        <th>PDF for Invoice</th>
        </tr>
    </thead>
    <tbody>
        {% for item in allInvoices%}
          <tr>
          <td>{{item[0]}}</td>
          <td>{{item[1]}}</td>
          <td>{{item[2]}}</td>
          <td>{{item[3]}}</td>
          <td>{{item[4]}}</td>
          <td>{{item[5]}}</td>
          <td>PGK {{item[6]}}</td>
          <td>{{item[7]}} <a href="{{ url_for('route_generatePDF.download_pdf', inv=item[0])}}">Download</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
<div id="new_invoice" class="tabcontent">
<form method="POST" action="{{url_for('route_generatePDF.preview_invoice')}}" class="invoice_form" id="form1">
    <div>
      <label for="inv_no">Invoice Number:</label>
      <input type="text" name="inv_no" value="{{inv}}" readonly> 
    </div>
    <div>
      <input type="text" name="it_contact" value="{{Uname.id}}" hidden>
      <label for="contact_person">Contact Person:</label>
      <input type="text" name="contact_person" required>
    </div>
    <label for="mission_entity">Mission Entity:</label>
    
    
    <select name="mission_entity" required id="dropdown">
      <option value="" disabled selected>Choose</option>
      {% for item in data1 %}
      <option value="{{ item.id }}">{{item.name}}</option>
      {% endfor%}
    </select>
    <input id="address" name="address" value="" hidden>
    <div>
      <label for="mission_dept">Mission Department:</label>
      <input type="text" name="mission_dept">
    </div>

{% for item in data %}
  <div id="{{ item[1] }}{{ item[4] }}_div" class="form-row">
    <div class="checkbox-label">
      <input type="checkbox" name="{{ item[1] }}{{ item[4] }}" id="{{ item[1] }}{{ item[4] }}_checkbox" value="{{ item[1] }}{{ item[2] }}" class="item-checkbox">
      <label for="{{ item[1] }}_checkbox">{{ item[0] }} {{ item[1] }} {{ item[2] }}</label>
    </div>

    <input type="text" name="{{ item[1] }}{{ item[4] }}_input" value="{{ item[0] }} {{ item[1] }} {{ item[2] }}" hidden>

    <div class="input-label">
      <b><label for="price">Price Per Unit (K):</label></b>
      <input type="number" value="{{ item[3] }}" id="{{ item[1] }}{{ item[4] }}_price" name="{{ item[1] }}{{ item[4] }}_price" class="item-input" readonly disabled>
    </div>

    <div class="input-label">
      <b><label for="quantity">Quantity:</label></b>
      <input type="number" id="{{ item[1] }}{{ item[4] }}_quantity" name="{{ item[1] }}{{ item[4] }}_quantity" class="item-input" required disabled>
    </div>

  </div>

{% endfor %}
    <button type="submit">Invoice</button>
</form>
</div>
{% endblock %}

