<!DOCTYPE html>
<html lang="en">
<head>
  <title>Preview</title>
  <!--
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/style.css') }}">
  -->
  <style>
    body{
      background-color: gainsboro;
    }
    main{
      background-color: white;
      height: 29.7cm;
      width: 21cm;
      padding:40px;
      margin:auto;
      position: relative;
    }
    .details{
      background-color: #39383D;
      color:white;
    }
    h4{
      background-color: #EC7C30;
    }
    #red_font{
      color:red;
    }
    .head p{
      margin: 0;
    }
    td {
      text-transform: capitalize;
    }
  </style>
</head>
<body>
  <main>
  <div class="head" style="position: relative;">
    
    <div class="logo" style="display: inline-block; position: absolute; top: 0;"><img src="{{ url_for('static', filename='images/sda_logo.jpg')}}" alt="sda_logo" height="90px" width="280px"></div>
    
    <div class="details" style="display: inline-block; position: absolute; top: 0; right: 0;">
      <div>PNGUM IT DEPARTMENT</div>
    <div class="address" style="display: inline-block;">
      <p>P. O. BOX 86, LAE 411, MP</p>
      <p>Papua New Guinea</p>
      <p>Memorial Avenue</p>
      
    </div>
    <div class="phone" style="display: inline-block;">
      <p>Phone: 675 - 472 1488</p>
      <p>Fax: 675 - 472 1873</p>
      <p>Email: pngumitorders@adventist.org.pg</p>
    </div>
    <div> Coronation Drive, Memorial Drive, Lae, Papua New Guinea Union Mission</div>
    </div>
    
  </div>

  <div class="inv-details" style="margin-top: 100px">
    <!-- Display the previewed data -->
  <p>Bill To:</p>
  <div style="display: inline-block; border: 4px solid black; width: 256px; padding: 10px;">
    <p>{{ session['bill'] }} - {{ session['dept']}}</p>
    <p>{{ session['add'] }}</p>
  </div>
  <div class="inv-number" style="display: inline-block;">Invoice Number: <span id="red_font">{{ session['inv'] }}</span>
    <p>Date: {{ session['dateToday'] }}</p>
  </div>
  
  <p>Mission Contact: {{ session['missContact'] }}</p>
  <p>IT Contact: {{ session['it'] }}</p>
 
  <table border="1px" width="100%">
    <tr>
      <th>Quantity</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Total Price</th>
    </tr>
   
    {% for item in session['dlist']%}
      <tr>
        <td>{{ item['quantity'] }}</td>
        <td>{{ item['description']}}</td>
        <td>{{ item['price'] }}</td>
        <td>{{ session['totalprice'][loop.index0]}}</td>
      </tr>
    {% endfor %}
    <tr>
      <th></th>
      <th></th>
      <th>Total:</th>
      <th> {{ session['totalcost'] }}</th>
    </tr>
  </table>
  </div>
  
  <table border="1px" style="position: absolute; bottom: 40px;">
    <tr>
      <td>Payment</td>
      <td></td>
    </tr>
    <tr>
      <td>Comments:</td>
      <td></td>
    </tr>
    <tr>
      <td>A/C Name:</td>
      <td>Westpac Lae - PNGUM of SDA Account # 2700-839-001</td>
    </tr>
    <tr>
      <td></td>
      <td>BSP - PNGUM of SDA Account # 1000-981-825</td>
    </tr>
  </table>
  <div style="display:inline-block; position: absolute; bottom: 40px; right: 40px; height: 100px; width: 300px; background-color: beige;">Office Use Only</div>
  <!-- ... display other details -->
</main>  
<div class="controls">
  <!-- Cancel button -->
  <button><a href="{{url_for('invoice_entry')}}">Confirm</a></button>
  <a href="{{url_for('invoice_page')}}">Cancel</a>
</div>
</body>
</html>

